.navbar-text {
    font-size: 25px;
}
.logo-img {
    width: 160px;
  }
  .navbar-container{
    gap: 60px;
    width: 900px;
  }
.navbar-links {
    gap: 40px;
  }

/* Mobile and below */
@media (max-width: 768px) {
  .navbar-container {
    width: 95%; 
    flex-direction: row;
    gap: 0px;
  }

  .navbar-links {
    flex-direction: row;
    gap: 0px;
  }

  .navbar-text {
    font-size: 10px;
  }

  .logo-img {
    width: 80px;
  }
}